body {
  margin: 0;
  font-family: 'BD Montoya Thin';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "BD Montoya Thin";
  src: url("%PUBLIC_URL%/bd_megatoya_thin-webfont.woff") format("woff");
}

#canvas-container {
  position: fixed;
}

.gui {
  position: absolute;
  top:0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 100;
}

.right-card {
  position: absolute;
  top:0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 5vh;
  margin-right: 12vh;
  border-radius: 15px;
  padding: 3vh;
  width: 50vh;
}

.logo{
  
  width: 200px;
}

.footer {
  left: 0px;
  bottom: 0px;
  margin: 7vh;
  color:white;
  font-family:"BD Montoya Thin";
}

.first-section {
  height: 100vh;
}

.second-section {
  height: 100vh;
}
.third-section {
  height: 100vh;
}

.header {
  margin: 7vh;
  color:white;
}

.full {
  position: relative;
  width: 100vh;
  height: 100vh;
  background-color: "#290000";
  overflow-y: scroll;
}
